.phonebBookForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  width: 90%;
}

.contactName {
  text-align: center;
  text-transform: uppercase;
  color: white;

  letter-spacing: 5px;
  padding: 3px 0;
  margin-top: 10px;
}

.contactNumber {
  composes: contactName;
}

.nameInput {
  width: 100%;
  height: 22px;
  border: none;
  text-align: center;
  font-size: 17px;
  font-family: 'Roboto';
}

.numberInput {
  composes: nameInput;
}

.addButton {
  width: 150px;
  height: 40px;
  align-self: center;
  outline: none;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 5px white;
  color: white;
  text-transform: uppercase;

  letter-spacing: 2px;
  cursor: pointer;
}

.addButton:hover {
  color: black;
  background-color: #fff;
}
