.wrapperPhonebook {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 50px auto 0;
  align-items: center;
  width: 600px;
  height: 350px;
  padding: 20px;
  background-color: rgb(31, 31, 31);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 4px 4px 1px #ffffffc2;
}

.phoneBookHeading {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 11px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.contactsHeading {
  composes: phoneBookHeading;
  letter-spacing: 7px;
  padding-top: 10px;
}

.noDataMessage {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
