.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 50px 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 500px;
  background-color: #fff;
  margin-top: 10px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.contactName {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.contactNumber {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.deleteContact {
  width: 100px;
  outline: none;
  height: 30px;
  border: solid 3px #000;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 2rem;
}

.deleteContact:hover {
  background-color: #000;
  color: white;
}

.noDataMessage {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
